
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#mc_table
{
	height: 280px !important;
}
.align
{
	margin-left: 15px !important;
}
#txt_q2
{
	margin-top: 8px !important;
}